<ion-header>
  <ion-navbar>
      <ion-buttons *ngIf="shopMenuView!=0" left>
        <button ion-button (click)="backShop()"><ion-icon icon-button name="arrow-dropleft-circle"></ion-icon></button>
      </ion-buttons>
      <ion-title>{{shopText[shopMenuView]}}</ion-title>
      <ion-buttons end>
        <button ion-button (click)="closeModal()"><ion-icon icon-button name="close"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="shopMenuView==0">
      <ion-scroll scrollX="true" style="white-space:nowrap; height:100vw;" >
        <button *ngIf="todayOffer!=null" ion-button box-button (click)="openShop(6)" color="danger" >Todays Offer<br>Rs. 1500<br>Ends in 2d 13h</button>
        <button ion-button box-button (click)="openShop(1)" >Ship</button>
        <button ion-button box-button (click)="openShop(2)" >Base</button>
        <button ion-button box-button (click)="openShop(3)" >Accessories</button>
        <button ion-button box-button (click)="openShop(4)" >Decoration</button>
        <button ion-button box-button (click)="openShop(5)" >Shield</button>
      </ion-scroll>
  </div>
  <div *ngIf="shopMenuView==1">
    <ion-scroll scrollX="true" style="white-space:nowrap; height:100vw;" >
      <button ion-button box-button color="danger" >Ship Offer<br>Rs. 150<br>Ends in 2d 13h</button>
      <button ion-button box-button >Armour<br>100 Metal</button>
      <button ion-button box-button >Turret<br>1000 Metal</button>
      <button ion-button box-button >Booster<br>2500 Metal</button>
    </ion-scroll>
  </div>
  <div *ngIf="shopMenuView==2">
    <ion-scroll scrollX="true" style="white-space:nowrap; height:100vw;" >
      <button ion-button box-button color="danger" >Base Offer<br>Rs. 150<br>Ends in 2d 13h</button>
      <button ion-button box-button >Storage Base<br>100 Oil</button>
      <button ion-button box-button >Tower Base<br>1000 Oil</button>
      <button ion-button box-button >HQ<br>1000 Oil</button>
    </ion-scroll>
  </div>
  <div *ngIf="shopMenuView==3">
    <ion-scroll scrollX="true" style="white-space:nowrap; height:100vw;" >
      <button ion-button box-button >Fill metal storage<br>by 10%<br>Rs. 150</button>
      <button ion-button box-button >Fill Oil storage<br>by 10%<br>Rs. 150</button>
    </ion-scroll>
  </div>
  <div *ngIf="shopMenuView==4">
    <ion-scroll scrollX="true" style="white-space:nowrap; height:100vw;" >
      <button ion-button box-button >Flairs<br>100 Metal</button>
      <button ion-button box-button >Beacon<br>100 Metal</button>
      <button ion-button box-button >Flag<br>100 Metal</button>
      <button ion-button box-button >Baloon<br>100 Metal</button>
    </ion-scroll>
  </div>
  <div *ngIf="shopMenuView==5">
    <ion-scroll scrollX="true" style="white-space:nowrap; height:100vw;" >
      <button ion-button box-button >10 Hours<br>100 Metal</button>
      <button ion-button box-button >1 Day<br>100 Metal</button>
    </ion-scroll>
  </div>
</ion-content>