<ion-header>
  <ion-navbar>
      <ion-title>Profile</ion-title>
      <ion-buttons end>
        <button ion-button (click)="closeModal()"><ion-icon icon-button name="close"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
  
<ion-content padding>
  profile content
</ion-content>