<ion-header>
  <ion-navbar>
      <ion-title>Access Loot</ion-title>
      <ion-buttons end>
        <button ion-button (click)="closeModal()"><ion-icon icon-button name="close"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
  
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        Metal 4500
      </ion-col>
      <ion-col>
        Oil 150
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button full><ion-icon icon-button name="lock"></ion-icon></button>
</ion-content>