<ion-content>
    <img (click)="openProfile();" class="player_league" src="assets/icon/leagues/3.png" alt="Player">
    <label (click)="openProfile();" class="player_name">Koushik</label>
    <label (click)="openProfile();" class="player_xp">9</label>
    <div class="resource_bar metal_bar">
        <div class="filled_bar col_resource_metal" style="width: 95%;"></div>
    </div>
    <img class="resource_logo metal_logo" src="assets/icon/metal_logo.png" alt="Metal">
    <div class="resource_bar oil_bar">
        <div class="filled_bar col_resource_oil" style="width: 50%;"></div>
    </div>
    <img class="resource_logo oil_logo" src="assets/icon/oil_logo.png" alt="Oil">
    <div class="resource_bar electric_bar">
        <div class="filled_bar col_resource_electric" style="width: 75%;" ></div>
    </div>
    <img class="resource_logo electric_logo" src="assets/icon/electric_logo.png" alt="Electric">
    <div class="resource_bar gem_bar"></div>
    <img class="resource_logo gem_logo" src="assets/icon/gem_logo.png" alt="Gem">
    <label class="gem_count">305</label>
    <ion-icon class="btn_gem_add_bar" name="add-circle"></ion-icon>

    <ion-fab bottom left>
        <button (click)="gotoship();" color="primary" ion-fab><ion-icon name="jet"></ion-icon></button>
    </ion-fab>
    <ion-fab bottom center>
        <button (click)="scan();" color="primary" ion-fab><ion-icon name="hand"></ion-icon></button>
        <!-- ios="ios-locate" -->
    </ion-fab>
    <ion-fab bottom right>
        <button (click)="openShop();" color="primary" ion-fab><ion-icon name="cart"></ion-icon></button>
    </ion-fab>
    <ion-fab left bottom style="left: 90px;">
        <button (click)="boost();" color="primary" ion-fab><ion-icon name="flash"></ion-icon></button>
    </ion-fab>
    <ion-fab left bottom style="bottom: 90px;">
        <button (click)="openRadio();" color="primary" ion-fab><ion-icon ios="ios-radio" md="md-radio"></ion-icon></button>
    </ion-fab>
    <div #map id="map"></div>
</ion-content>
