page-game{
  // #floating-panel {
  //     position: absolute;
  //     top: 10px;
  //     right: 5px;
  //     z-index: 5;
  //     background-color: #fff;
  //     padding: 5px;
  //     border: 1px solid #999;
  //     text-align: center;
  //     font-family: 'Roboto','sans-serif';
  //     line-height: 30px;
  //     padding-left: 10px;
  //   }
  #map {
    z-index: -10;
    height: 100%;
  }
  img.player_league{
    position: absolute;
    left: 5px;
    top: 5px;
    height: 90px;
  }
  label.player_name{
    color: #fff;
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    width: 76px;
    text-align: center;
    font-family: monospace;
  }
  label.player_xp{
    color: #fff;
    position: absolute;
    top: 52px;
    left: 35px;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    width: 30px;
    text-align: center;
  }
  img.resource_logo{
    position: absolute;
    right: 2px;
    height: 36px;
  }
  img.metal_logo{
    top: 6px;
  }
  img.oil_logo{
    top:40px;
  }
  img.electric_logo{
    top:80px;
  }
  img.gem_logo{
    top:118px;
  }
  .resource_bar{
    position: absolute;
    right: 8px;
    height: 20px;
    width: 170px;
    // border: 1px solid #9E9E9E;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
  }
  .metal_bar{
    top: 14px;
  }
  .filled_bar{
    height: 100%;
    float: right;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .col_resource_metal{
    background: rgba(158,158,158,1);
    background: -moz-linear-gradient(top, rgba(158,158,158,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(55,59,61,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(158,158,158,1)), color-stop(50%, rgba(216,225,231,1)), color-stop(51%, rgba(181,198,208,1)), color-stop(100%, rgba(55,59,61,1)));
    background: -webkit-linear-gradient(top, rgba(158,158,158,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(55,59,61,1) 100%);
    background: -o-linear-gradient(top, rgba(158,158,158,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(55,59,61,1) 100%);
    background: -ms-linear-gradient(top, rgba(158,158,158,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(55,59,61,1) 100%);
    background: linear-gradient(to bottom, rgba(158,158,158,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(55,59,61,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e9e9e', endColorstr='#373b3d', GradientType=0 );
  }
  .oil_bar{
    top:50px;
  }
  .col_resource_oil{
    background: rgba(252,234,187,1);
    background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(173,128,14,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,234,187,1)), color-stop(50%, rgba(252,205,77,1)), color-stop(51%, rgba(248,181,0,1)), color-stop(100%, rgba(173,128,14,1)));
    background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(173,128,14,1) 100%);
    background: -o-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(173,128,14,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(173,128,14,1) 100%);
    background: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(173,128,14,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#ad800e', GradientType=0 );        
  }
  .electric_bar{
    top:88px;
  }
  .col_resource_electric{
    background: rgba(113,206,239,1);
    background: -moz-linear-gradient(top, rgba(113,206,239,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(0,49,102,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(113,206,239,1)), color-stop(50%, rgba(113,206,239,1)), color-stop(51%, rgba(33,180,226,1)), color-stop(100%, rgba(0,49,102,1)));
    background: -webkit-linear-gradient(top, rgba(113,206,239,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(0,49,102,1) 100%);
    background: -o-linear-gradient(top, rgba(113,206,239,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(0,49,102,1) 100%);
    background: -ms-linear-gradient(top, rgba(113,206,239,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(0,49,102,1) 100%);
    background: linear-gradient(to bottom, rgba(113,206,239,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(0,49,102,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71ceef', endColorstr='#003166', GradientType=0 );
  }
  .gem_bar{
    top:126px;
    width: 130px;
    background: rgba(248,80,50,1);
    background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(50%, rgba(241,111,92,1)), color-stop(51%, rgba(246,41,12,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
    background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0 );
  }
  .btn_gem_add_bar{
    color: #8BC34A;
    position: absolute;
    right: 120px;
    top: 118px;
    font-size: 36px;
    text-shadow: 1px 2px 3px #000;
  }
  label.gem_count{
    color: #fff;
    position: absolute;
    right: 40px;
    top: 126px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
  }
}